<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>家庭記帳本</title>

  <link rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <nav class="nav__header">
    <a class="nav__header--logo" href="/">{{#if isAuthenticated}}{{user.id}}{{else}}我{{/if}}的家庭記帳本</a>
    {{#if isAuthenticated}}
    <a class="nav__header--logout" href="/users/logout">登出</a>
    {{else}}
    <a class="nav__header--login" href="/users/login">登入</a>
    {{/if}}
  </nav>

  {{{ body }}}

</body>
</html>
