<div class="container">
  <div class="top__selector">
    <label for="category-selector">
        <select name="category" id="category-selector" class="category-selector">
          <option class="category-selector-option" value="">類別</option>
          <option class="category-selector-option" value="">家居物業</option>
          <option class="category-selector-option" value="">交通出行</option>
          <option class="category-selector-option" value="">休閒娛樂</option>
          <option class="category-selector-option" value="">餐飲食品</option>
          <option class="category-selector-option" value="">其他</option>
        </select>
    </label>

  </div>

  <div class="middle__total">
    <p>總金額：</p>
    <span>25260</span>
  </div>

  <div class="bottom__records">
    <div class="bottom__records--item">
      <img class="bottom__item--img" src="https://fontawesome.com/icons/home?style=solid" alt="">
      <div class="bottom__item--name">
        <p>午餐</p>
        <span>2022/8/24</span>
      </div>
      <span class="bottom__item--price">60</span>

      <div class="bottom__item--controller">
        <a class="bottom__item--controlbtn" href="/records/edit">修改</a>
        <a class="bottom__item--controlbtn" href="/records/delete">刪除</a>
      </div>

    </div>
  </div>


  <a class="bottom__addbtn" href="/records/new">
    <div class="bottom__add">
      新增支出
    </div>
  </a>

  
</div>
